{% extends "base.html" %}
{% block content %}

<section>
	<div class="container">
		<h4 class="center-align lillys-intro lilly-heading">All Recipes</h4>
		<div class="row card-panel transparent search-query">
			<form action="{{ url_for('search') }}" method="post" class="col s12">
				<div class="row valign-wrapper center-align">
					<div class="input-field col s12 m8">
						<i class="fas fa-search prefix lillys-intro"></i>
						<input type="text" name="query" id="query" minlength="3" class="validate lillys-intro" required>
						<label for="query">Search Recipes</label>
					</div>
					<div class="col s12 m4">
						<a href="{{ url_for('get_recipes') }}" class="btn-small reset-btn">Reset</a>
						<button type="submit" class="btn-small search-btn">
							<i class="fas fa-search left"></i> Search
						</button>
					</div>
				</div>
			</form>
		</div>
		{% if recipes|length > 0 %}
		<div class="row card-panel transparent">
			{% for recipe in recipes %}
			{% if loop.index % 2 != 0 %}
			<div class="col s12 m6">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator recipe-img" src="{{ recipe.image }}" alt="food-image">
						<span class="card-title text-shadow">
							<br>
							<strong>{{ recipe.recipe_name }}</strong>
						</span>
					</div>
					<div class="card-content">
						<span class="card-title activator">
							<i class="fa-solid fa-arrow-up-right-from-square left"></i>Click to view recipe
							{% if session.user|lower == recipe.created_by|lower %}
							<a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small delete-btn">Delete</a>
							<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small edit-btn">Edit</a>
							{% endif %}
						</span>	
					</div>
					<div class="card-reveal">
						<span class="card-title">
							<strong>{{ recipe.recipe_name }}</strong>
							<i class="fa-solid fa-xmark right"></i></span>
						<p><b>Preparation Time : </b> {{ recipe.prep_time }} </p>
						<p><b>Cooking Time : </b> {{ recipe.cook_time }} </p>
						<p><b>Serves : </b> {{ recipe.serves }} </p>
						<p><b>Ingredients : </b> {{ recipe.ingredients }} </p>
						<p><b>Description : </b> {{ recipe.recipe_description }} </p>
						<p><b>Step 1 : </b> {{ recipe.method_1 }} </p>
						<p><b>Step 2 : </b> {{ recipe.method_2 }} </p>
						<p><b>Step 3 : </b> {{ recipe.method_3 }} </p>
						<p><b>Step 4 : </b> {{ recipe.method_4 }} </p>
						<p><b>Step 5 : </b> {{ recipe.method_5 }} </p>
						<p><em>by: {{ recipe.created_by }}</em></p>
					</div>
				</div>
			</div>
			{% else %}
			<div class="col s12 m6">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator recipe-img" src="{{ recipe.image }}" alt="food-image">
						<span class="card-title text-shadow">
							<br>
							<strong>{{ recipe.recipe_name }}</strong>
						</span>
					</div>
					<div class="card-content">
						<span class="card-title activator">
							<i class="fa-solid fa-arrow-up-right-from-square left"></i>Click to view recipe
							{% if session.user|lower == recipe.created_by|lower %}
							<a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small delete-btn">Delete</a>
							<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small edit-btn">Edit</a>
							{% endif %}
						</span>	
					</div>
					<div class="card-reveal">
						<span class="card-title">
							<strong>{{ recipe.recipe_name }}</strong>
							<i class="fa-solid fa-xmark right"></i></span>
						<p><b>Preparation Time : </b> {{ recipe.prep_time }} </p>
						<p><b>Cooking Time : </b> {{ recipe.cook_time }} </p>
						<p><b>Serves :</b> {{ recipe.serves }} </p>
						<p><b>Ingredients : </b> {{ recipe.ingredients }} </p>
						<p><b>Description : </b> {{ recipe.recipe_description }} </p>
						<p><b>Step 1 : </b> {{ recipe.method_1 }} </p>
						<p><b>Step 2 : </b> {{ recipe.method_2 }} </p>
						<p><b>Step 3 : </b> {{ recipe.method_3 }} </p>
						<p><b>Step 4 : </b> {{ recipe.method_4 }} </p>
						<p><b>Step 5 : </b> {{ recipe.method_5 }} </p>
						<p><em>by: {{ recipe.created_by }}</em></p>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% else %}
		<h4 class="center-align lillys-intro lilly-heading">No Recipes Found</h4>
		{% endif %}
	</div>
</section>

{% endblock %}