{% extends "base.html" %}
{% block content %}

<main class="hero-image">
	<div class="overlay"></div>
		<div>
			<div class="row">
				<div class="col s12">
					<h1 class="center-align welcome-message">Welcome to Lilly's Kitchen</h1>
					<h4 class="center-align sign-up-message"><a href="#" class="join-now">Join</a> us to create and share all your <br> favourite food recipes</h4>
				</div>
			</div>
		</div>
</main>
<section class="lillys-intro">
	<div>
		<br>
		<h4 class="center-align">At Lilly's Kitchen</h4>
		 	<h5 class="center-align">Find delicous, tasty recipes ranging from Mediterranean, Carribean,<br> 
				European, British food plus more. Come and join our ever growing recipe marketplace.
			</h5>
	</div>
	<br>
	<div class="center-align">
	<button type="submit" class="btn-large">
		<i class="fas fa-search right"></i>View Recipes
	</button>
	</div>
	
</section>

{% endblock %}