{% extends "base.html" %}
{% block content %}

<main class="hero-image">
	<div class="overlay"></div>
		<div>
			<div class="row">
				<div class="col s12">
					<!-- Lilly's Kitchen welcome message -->
					<h3 class="center-align welcome-message">Welcome to Lilly's Kitchen</h3>
					<h5 class="center-align sign-up-message"><a href="#" class="join-now">Join</a> us to create and share all your <br> favourite food recipes</h5>
				</div>
			</div>
		</div>
</main>
<section class="lillys-intro">
	<div>
		<br>
		<!-- Info about Lilly's Kitchen -->
		<h4 class="center-align lilly-heading">At Lilly's Kitchen</h4>
		 	<h6 class="center-align">Find delicous, tasty recipes ranging from Mediterranean, Carribean,<br> 
				European, British food plus more. Come and join our ever growing recipe marketplace.
			</h6>
	</div>
	<br>
	<div class="center-align">
		<!-- Button linking to recipes page -->
		<a class="btn-large" href="{{ url_for('get_recipes') }}"><i class="fas fa-search right"></i>View Recipes</a>
	</div>
</section>

{% endblock %}